@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
::-moz-selection {
  color: #000;
  background: #99f6e4;
}

::selection {
  color: #000;
  background: #99f6e4;
} */



@layer base {
  body {
    @apply md:p-4 p-2  bg-white dark:bg-black text-gray-700;
  }
}

.bg-cover-imgage{
  @apply bg-gradient-to-b from-transparent to-black opacity-75;
}
@layer components {
  /* custom css start  */

  .hidden-on-scroll {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .show-on-scroll {
    opacity: 1;
    transform: translateY(0);
  }

  .bg-gradient-cover {
    background-color: transparent;
      background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.92));
      background-image: linear-gradient(transparent,rgba(32, 32, 32, 0.92));
      /* background-position-y: -1px; */
  }
  .max-h-98 {
    max-height: 24.3rem;
}
.box-one > article:nth-child(1) { 
	padding-top: 0;
	padding-bottom: 0.125rem;
	padding-right: 0.125rem;
}
.box-one > article:nth-child(2) {
	padding-top: 0;
	padding-bottom: 0.125rem;
	padding-left: 0.125rem;
}
.box-one > article:nth-child(3) {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-right: 0.125rem;
}
.box-one > article:nth-child(4) {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-left: 0.125rem;
}
.hover-img:hover img {
	-webkit-filter: brightness(103%) contrast(103%);
    filter: brightness(103%) contrast(103%);
    opacity:.99;
}
.hover-img-dark:hover img {
	-webkit-filter: brightness(103%) contrast(103%);
    filter: brightness(103%) contrast(103%);
    opacity:.69;
}
 /* custom css end  */
  section {
    @apply mx-auto;
  }
  section > div {
    @apply p-2 rounded-lg;
  }
  h3 {
    @apply font-bold text-2xl;
  }
  p {
    @apply mt-4 opacity-70;
  }
  .violet {
    @apply bg-neutral-100 text-neutral-800;
  }
  .gray {
    @apply bg-neutral-500 text-white;
  }
  .white, .white-long {
    @apply bg-neutral-100;
  }
  .dark {
    @apply bg-gray-50 text-neutral-800;
  }
}














/* scroll custom color */
::-webkit-scrollbar {
  width: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #161616;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5C8374;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   @apply dark:text-[#737373] text-[#737373]  !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  @apply dark:text-[#737373] text-[#737373]  opacity-100 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 @apply dark:text-[#737373] text-[#737373]  opacity-100 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  @apply dark:text-[#737373] text-[#737373] !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
 @apply dark:text-[#737373] text-[#737373] !important;
}
::placeholder { /* Most modern browsers support this now. */
 @apply dark:text-[#737373] text-[#737373] !important;
}